nav {
    border-bottom: 1px solid black;
    background-color: black;
  }
  
  .crumbs ol {
    list-style-type: none;
    padding-left: 0;
    border: 2px solid;
    margin-bottom: 0px;
  }
  
  .crumb {
    display: inline-block;
    color: black;
    
    
  }
  
  .crumb a::after {
    display: inline-block;
    color: black;
    /* content: '>'; */
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
  }
  